// Place all the styles related to the pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
	
}
h2{
	font: 100%;
	color:#433333;
}
p{
	font: 200%;
	color:#758442;
}
a:link, a:visited{
	color:#758442;
}