// Place all the styles related to the pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2{
	font: 100%;
	color:#433333;
}
p{
	font: 200%;
	color:#332341;
}
a:link, a:visted{
	colour:#758442;
}
ul{
	list-style: none;
}